body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header {
    background: #4CAF50;
    color: white;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav a {
    color: #4CAF50;
    text-decoration: none;
}

section {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
}

footer {
    text-align: center;
    padding: 10px;
    background: #f1f1f1;
    position: relative;
    bottom: 0;
    width: 100%;
}


.typing {
    display: inline-block; /* Ensure it behaves like an inline element for smooth typing */
    border-right: 2px solid #333;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 5s steps(60, end) forwards, blink-caret 0.75s step-end infinite;
}

@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}